//mixins
@mixin backgroundImage{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backgroundGradient{
	content: '';
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

//variables
$color: red;
